body {
  font-family: Palatino;
}



#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

h1 {
  font-weight: bold;
  color: #4DA1A9;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color: #4DA1A9;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  color: #4DA1A9;
  font-size: 18px;
}

p {
  color: #4DA1A9;
  font-size: 18px;
}

#horse-riding-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.horse-riding-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #2E5077;
  border-radius: 5%;
  background: #D7E8BA;
}
